{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="Talleres la vida organica">
{% endblock%}
{% block title %}
Talleres La vida orgánica.
{% endblock%}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/talleres/taller_detalle.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/propios/selectable.js"></script>
{% endblock %}
{% block navi %}
	<div class="logomenu">
		<div class="circulo"><img src="{% static 'img/logoinicio.png' %}" alt="Logo de La vida organic"></div>
	</div>
{% endblock %}
{% block contenido %}
<section class="talleres">
	<div class="wrapper">
		<div class="header">
				<div class="fecha">
					<div class="mes">{{ taller.fecha|date:"F" }}</div>
					<div class="dia">{{ taller.fecha|date:"d" }}</div>
				</div><div class="tituloStyle"><h2>{{ taller.titulo }}</h2></div>
		</div>		
			{% if taller.tipo = 'taller' %}
				<div class="taller">
			{% else %}
				<div class="webinar">
			{% endif %}
					<div class="descripcion">			
						{% autoescape off %} 
							{{taller.descripcion}}
						{% endautoescape %}		
					</div>
					<div class="detalles">					
						{% if taller.tipo = 'taller' %}
							<div class="tipo">Taller</div>
						{% else %}
							<div class="tipo">Webinar</div>
						{% endif %}
						<div class="horataller">{{ taller.fecha|date:"P" }} a {{ taller.hora_hasta|date:"P" }}</div>
						{% if taller.tipo = 'taller' %}
							<div class="lugar">Lugar: {{taller.lugar}}</div>
						{% endif %}	
				</div>	
				</div>			
	</div>
</section>
{% endblock %}