{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="Página de inicio de la vida organic">
{% endblock%}
{% block title %}
La vida organica - Inicio
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/index.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/adquiridos/back-top.js' %}"></script>
{% endblock %}
{% block navi %}
{% endblock %}
{% block clear %}{% endblock%}
{% block contenido %}
	<section class="bannerPrincipal">
		<div class="wrapper banner1">
			<div class="circulo eslogan">
				<h1>Saludable desde dentro hacia fuera.</h1>
			</div>
			<div class="logomenu">
				<div class="circulo"><img src="{% static 'img/logoinicio.png' %}" alt="Logo de La vida organic"></div>
			</div>
			<div class="suscripcion">
				<form action="#">
					<label for="Text">
						Suscribe tu correo eléctronico:
					</label>
					<input type="text" id="inputSuscripcion">
					<input type="submit">
				</form>
			</div>
			<div class="redesInicio">
				<ul>
					<li class="circulo"><a href="https://www.facebook.com/lavidaorganic" class="icon circulo facebookIcon"></a></li>
					<li class="circulo"><a href="https://www.twitter.com/lavidaorganica" class="icon circulo twitterIcon"></a></li>
					<li class="circulo"><a href="http://instagram.com/lavidaorganica" class="icon circulo instagramIcon"></a></li>
					<li class="circulo"><a href="http://www.youtube.com/lavidaorganica" class="icon circulo youtubeIcon"></a></li>
				</ul>
			</div>
		</div>
	</section>
	<section class="talleres">
		<div class="wrapper">
			<h2>Talleres</h2>
			<ul>
				{% for taller in talleres %}
					<a href="{{ taller.get_absolute_url }}">
						{% if taller.tipo = 'taller' %}
							<li class="taller">
						{% else %}
							<li class="webinar">
						{% endif %}
						<div class="fecha">
							<div class="mes">{{ taller.fecha|date:"F" }}</div>
							<div class="dia">{{ taller.fecha|date:"d" }}</div>
						</div>
						<div class="titulos">
							{% if taller.tipo = 'taller' %}
								<div class="tipo">Taller</div>
							{% else %}
								<div class="tipo">Webinar</div>
							{% endif %}
							<div class="titulo">{{taller.titulo}}</div>
							<div class="horataller">{{ taller.fecha|date:"P" }} a {{ taller.hora_hasta|date:"P" }}</div>
						</div>
						<div class="descripcioncorta">{{taller.descripcion_corta}}</div>

							{% if taller.tipo = 'taller' %}
								<div class="lugar">Lugar: {{taller.lugar}}</div>
							{% endif %}
						<a class="botontaller" href="{{ taller.get_absolute_url }}" class="leerMas">Registrarme</a>
							
					</li></a>
				{% endfor %}
			</ul>
		</div>
	</section>
	<section class="ultimasEntradas">
		<div class="wrapper">
			<h2>BLOG <span>Últimas Entradas</span></h2>
				<ul class="listaNoticias">
					<li class="noticia">
						<img src="{{ STATIC_URL }}img/testimage.jpg" alt="lorem ipsum bla bla">
						<div class="derecha">
							<div class="tituloNoticia">Lorem ipsum testo</div>
							<div class="resumen">
								<p>justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. justo. Nullam dictum felis eu pede mollis pretium.</p>
							</div>
							<a href="{{ item.get_absolute_url }}" class="leerMas">Leer más</a>
						</div>
					</li>
					<li class="noticia">
						<img src="{{ STATIC_URL }}img/testimage.jpg" alt="lorem ipsum bla bla">
						<div class="derecha">
							<div class="tituloNoticia">Lorem ipsum testo</div>
							<div class="resumen">
								<p>justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
							</div>
							<a href="{{ item.get_absolute_url }}" class="leerMas">Leer más</a>
						</div>	
					</li>
					<li class="noticia">
						<img src="{{ STATIC_URL }}img/testimage.jpg" alt="lorem ipsum bla bla">
						<div class="derecha">
							<div class="tituloNoticia">Lorem ipsum testo</div>
							<div class="resumen">
								<p>justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
							</div>
							<a href="{{ item.get_absolute_url }}" class="leerMas">Leer más</a>
						</div>	
					</li>
					<li class="noticia">
						<img src="{{ STATIC_URL }}img/testimage.jpg" alt="lorem ipsum bla bla">
						<div class="derecha">
							<div class="tituloNoticia">Lorem ipsum testo</div>
							<div class="resumen">
								<p>justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
							</div>
							<a href="{{ item.get_absolute_url }}" class="leerMas">Leer más</a>
						</div>	
					</li>
		{% for item in entradas %}
					<li>
						<img src="{{ MEDIA_URL }}{{item.image}}" width ="241" height="200" alt="{{ item.title }}">
						<div class="derecha">
							<div class="tituloNoticia">{{ item.title }}</div>
							<div class="resumen">
								{% autoescape off %}
								<p>{{item.content}}...</p>
								{% endautoescape %}
							</div>
							<a href="{{ item.get_absolute_url }}" class="leerMas">Leer más</a>
						</div>	
					</li>

		{% endfor %}
				</ul>
			<h3><a href="/blog">Ver todas las noticias</a></h3>
		</div>
	</section>
	<!-- Google+ SCRIPT --> 
		<!-- Place this tag after the last badge tag. -->
		<script  async type="text/javascript">
		 window.___gcfg = {lang: 'es-419'};
		 (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		   po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	<!-- FACEBOOK SCRIPT -->
			<div id="fb-root"></div>
		<script async>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&status=0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	<!-- TWITTER SCRIPT -->
	<script async>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	
	<!-- BACK TOP BOX -->
	<div id="back-top" class="back-top">
		<a href="#home"><span>↑</span>Regresar arriba</a>
	</div>
{% endblock%}
