{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="Página de inicio de la vida organic">
{% endblock%}
{% block title %}
La vida organica - Inicio
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/index.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/adquiridos/back-top.js' %}"></script>
{% endblock %}
{% block navi %}
{% endblock %}
{% block clear %}{% endblock%}
{% block contenido %}
	<section class="bannerPrincipal">
		<div class="wrapper banner1">
			<div class="circulo eslogan">
				<p>Saludable desde dentro hacia fuera.</p>
			</div>
			<div class="logomenu">
				<div class="circulo"><img src="{% static 'img/logoinicio.png' %}" alt="Logo de La vida organic"></div>
			</div>
			<div class="suscripcion">
				{% if newsletter %}
				<form method="POST" action="#">{% csrf_token %}
					
					<div class="correo">
						{{ form.subject.errors }}
						<label for="id_email">Suscribe tu correo eléctronico:</label>
						{{ form.correo }}
					</div>
					<input type="submit">
				</form>
				{% else %}
				<div class="correo">
					¡BIENVENIDO!
				</div>
				{% endif %}
			</div>
			<div class="redesInicio">
				<ul>
					<li class="circulo"><a href="https://www.facebook.com/lavidaorganic" class="icon circulo facebookIcon"></a></li>
					<li class="circulo"><a href="https://www.twitter.com/lavidaorganica" class="icon circulo twitterIcon"></a></li>
					<li class="circulo"><a href="http://instagram.com/lavidaorganica" class="icon circulo instagramIcon"></a></li>
					<li class="circulo"><a href="http://www.youtube.com/lavidaorganica" class="icon circulo youtubeIcon"></a></li>
				</ul>
			</div>
		</div>
	</section>
	<section class="talleres">
		<div class="wrapper">
			<h1>Talleres</h1>
			<ul>
				{% for taller in talleres %}					
					{% if taller.tipo = 'taller' %}
						<li class="taller">
							<a href="{{ taller.get_absolute_url }}">
							<div class="fecha">
								<div class="mes">{{ taller.fecha|date:"F" }}</div>
								<div class="dia">{{ taller.fecha|date:"d" }}</div>
							</div>
							<div class="titulos">
								{% if taller.tipo = 'taller' %}
									<div class="tipo">Taller</div>
								{% else %}
									<div class="tipo">Webinar</div>
								{% endif %}
								<div class="titulo">{{taller.titulo}}</div>
								<div class="horataller">{{ taller.fecha|date:"P" }} a {{ taller.hora_hasta|date:"P" }}</div>
							</div>
							<div class="descripcioncorta">{{taller.descripcion_corta}}</div>
							
							{% if taller.tipo = 'taller' %}
								<div class="lugar">Lugar: {{taller.lugar}}</div>
							{% endif %}
							<a class="botontaller" href="{{ taller.get_absolute_url }}" class="leerMas">Registrarme</a>
							</a>
						</li>
					{% else %}
						<li class="webinar">
							<a href="{{ taller.get_absolute_url }}">
							<div class="fecha">
								<div class="mes">{{ taller.fecha|date:"F" }}</div>
								<div class="dia">{{ taller.fecha|date:"d" }}</div>
							</div>
							<div class="titulos">
								{% if taller.tipo = 'taller' %}
									<div class="tipo">Taller</div>
								{% else %}
									<div class="tipo">Webinar</div>
								{% endif %}
								<div class="titulo">{{taller.titulo}}</div>
								<div class="horataller">{{ taller.fecha|date:"P" }} a {{ taller.hora_hasta|date:"P" }}</div>
							</div>
							<div class="descripcioncorta">{{taller.descripcion_corta}}</div>
							
							{% if taller.tipo = 'taller' %}
								<div class="lugar">Lugar: {{taller.lugar}}</div>
							{% endif %}
							<a class="botontaller" href="{{ taller.get_absolute_url }}" class="leerMas">Registrarme</a>
							</a>
						</li>
					{% endif %}					
				{% endfor %}
			</ul>
			{% if numero > 3 %}
				<a class="vertodo" href="{% url 'tallerestalleres' %}">Ver todos los talleres</a>
			{% endif %}	
		</div>
	</section>
	<section class="ultimasEntradas">
		<div class="wrapper">
			<h1>BLOG <span>Últimas Entradas</span></h1>
				<ul class="listaNoticias">
				{% for item in entradas %}
					<li>
						{% if item.image %}
						<img src="{{ MEDIA_URL }}{{item.image}}" width ="241" height="200" alt="{{ item.title }}">
						{% else %}
						<img src="{% static 'img/logoinicio.png' %}" width ="241" height="200" alt="Sin imagen">
						{% endif %}
						<div class="derecha">
							<div class="tituloNoticia">{{ item.title }}</div>
							<div class="resumen">
								{% autoescape off %}
								<p>{{item.content}}...</p>
								{% endautoescape %}
							</div>
							<a href="{{ item.get_absolute_url }}" class="leerMas">Leer más</a>
						</div>	
					</li>
				{% endfor %}
				</ul>
			<h3><a href="/blog">Ver todas las noticias</a></h3>
		</div>
	</section>
	<!-- Google+ SCRIPT --> 
		<!-- Place this tag after the last badge tag. -->
		<script  async type="text/javascript">
		 window.___gcfg = {lang: 'es-419'};
		 (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		   po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	<!-- FACEBOOK SCRIPT -->
			<div id="fb-root"></div>
		<script async>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&status=0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	<!-- TWITTER SCRIPT -->
	<script async>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	
	<!-- BACK TOP BOX -->
	<div id="back-top" class="back-top">
		<a href="#home"><span>↑</span>Regresar arriba</a>
	</div>
{% endblock%}
