{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="Página de inicio de la vida organic">
{% endblock%}
{% block title %}
Duranjo Web
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/index.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/adquiridos/back-top.js' %}"></script>
{% endblock %}
{% block navi %}
{% endblock %}
{% block clear %}{% endblock%}
{% block contenido %}
	<section class="bannerPrincipal">
		<div class="wrapper banner1">
			<div class="circulo eslogan">
				<h1>Saludable desde dentro hacia fuera.</h1>
			</div>
			<div class="logomenu">
				<div class="circulo"><img src="{% static 'img/logoinicio.png' %}" alt="Logo de La vida organic"></div>
			</div>
			<div class="suscripcion">
				<form action="#">
					<label for="Text">
						Suscribe tu correo eléctronico:
					</label>
					<input type="text">
					<input type="submit">
				</form>
			</div>
			<div class="redesInicio">
				<ul>
					<li class="circulo">facebook</li>
					<li class="circulo">Twitter</li>
					<li class="circulo">Instagram</li>
					<li class="circulo">Youtube</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="ultimasEntradas">
		<div class="wrapper">
			<h2>BLOG <span>Ultimas Entradas</span></h2>
			<ul class="entradas">
				<li>
					<img src="" alt="">
					<div class="descripcion">
						<h3>titulo</h3>
						<p>descripcion corta </p>
						<a href="#entrada">Leer más</a>
					</div>
				</li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<a href="/blog">Ver todas las noticias</a>
		</div>
	</section>	
	<!-- Google+ SCRIPT --> 
		<!-- Place this tag after the last badge tag. -->
		<script  async type="text/javascript">
		 window.___gcfg = {lang: 'es-419'};
		 (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		   po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	<!-- FACEBOOK SCRIPT -->
			<div id="fb-root"></div>
		<script async>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&status=0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	<!-- TWITTER SCRIPT -->
	<script async>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	
	<!-- BACK TOP BOX -->
	<div id="back-top" class="back-top">
		<a href="#home"><span>↑</span>Regresar arriba</a>
	</div>
{% endblock%}
