{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Servicios de la vida organica
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage/servicios.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/adquiridos/back-top.js' %}"></script>
{% endblock %}
{% block navi %}
	<div class="logomenu">
		<div class="circulo"><img src="{% static 'img/logoinicio.png' %}" alt="Logo de La vida organic"></div>
	</div>
{% endblock %}
{% block contenido %}
<section class="quienessomos">
		<section class="descripcion">
			<div class="wrapper">
				<div class="introduccion">
					<h1>Servicios</h1>
					<p>Mi orientación nutricional y servicios de Coaching de salud y de vida, le da la oportunidad de llegar a su peso ideal, optimizar la digestión, aumentar el rendimiento deportivo, optimizar su metabolismo, conseguir una gran piel, las uñas y el cabello, o adelgazar, puedo proporcionar las herramientas, consejos y trucos que usted necesita para lograr lo que quiere! No son sólo para los que quieren bajar de peso, pero para cualquiera que quiera hacer un cambio de estilo de vida positivo y saludable. Doy la bienvenida a los clientes de todos los orígenes diversos, culturas y preferencias alimentarias. Sea cual sea su objetivo, estoy aquí en cada paso para entrenar, guiar, motivar, y llegar a lograr su meta!</p>
					<a href="#servicios" class="verServicios">Ofertar un servicio</a>
				</div>
				<div class="titulo">Desintoxicación</div>
				<div class="circuloVerde">
					<div class="textWrap">
						<p class="bold">“Sea cual sea su meta, un Detox leve o más completo es necesario para que su cuerpo funcione como debe ser y vea los resultados.”</p>
						<p>Todos los días nuestro organismo es afectado por medio del agua, aire, comida, productos de belleza/limpieza y estilo de vida como por ejemplo el estrés. Gracias a órganos como el hígado y el riñón, la mayoría de estas toxinas son liberadas a través del sudor, orina y heces fecales. Sin embargo, el resto que no se libera es acumulado en la grasa del cuerpo. Pasamos años sin desintoxicar el cuerpo y esto conlleva a problemas graves que hoy en día muchísima gente lo esta experimentando. Si se siente estancada y siente que no le es fácil rebajar, puede que su cuerpo este congestionado. ¡Yo le puedo ayudar!</p>
					</div>
				</div>
				<div class="titulo rightpos">Estilo de vida</div>
				<div class="circuloVerde rightpos">
					<div class="textWrap">
						<p class="bold">“Para lograr una consulta optima, es muy importante para una Coach saber como es tu día a día. Tu nivel de estrés laboral o familiar. Pequeños detalles pueden hacer una gran diferencia.”</p>
						<p>El estilo de vida es el mayor determinante de nuestra salud. Integra el conjunto de hábitos y conductas que modulan nuestra vida diaria.</p>
						<p>Un estilo de vida saludable está configurado fundamentalmente por el mantenimiento de una dieta alimenticia suficiente y equilibrada, la abstinencia de tabaco, el consumo muy moderado de alcohol, la observancia de un patrón de utilización supervisado y controlado de ciertas sustancias y la práctica de una actividad física regular.</p>
						<p>El disfrute de unos niveles de bienestar tanto físico como psíquico elevados es el resultado más probable de un estilo de vida saludable.</p>
					</div>
				</div>
				<div class="titulo">Historial de salud</div>
				<div class="circuloVerde">
					<div class="textWrap">
						<p class="bold">“Consultas personalizadas requieren de información y detalles para que la experiencia sea efectiva y satisfactoria. El alimento para una persona puede ser veneno para otra.”</p>
						<p>Conociendo el historial de salud suyo y el de su familia, podremos tomar decisiones para seguir métodos de prevención y cambiar su estilo de vida para reducir el riesgo de padecer una determinada enfermedad a la cual usted y su familia pueden estar predispuestos geneticamente. Al aprender de su pasado, usted podrá tomar decisiones para proteger el futuro de su salud y la salud de sus familiares. </p>
					</div>
				</div>
				<img class="imagecircle img1pos" src="{% static 'img/testimage.jpg' %}" alt="testimage">
				<img class="imagecircle img2pos" src="{% static 'img/testimage.jpg' %}" alt="testimage">
				<img class="imagecircle img3pos" src="{% static 'img/testimage.jpg' %}" alt="testimage">
			</div>
			<div class="clear"></div>
		</section>
		<section class="areascoaching">
			<div class="wrapper">
				<h2>Areas de Coaching</h2>
				<ul>
					<li><p class="centrartextoverticalp">Guia de Alimentación Saludable</p></li>
					<li><p class="centrartextoverticalp">Desintoxicación</p></li>
					<li><p class="centrartextoverticalp">Incrementar Metabolismo</p></li>
					<li><p class="centrartextoverticalp">Equilibrio Hormonal</p></li>
					<li><p class="centrartextoverticalp">Digestión</p></li>
					<li><p class="centrartextoverticallargo">Coach De Vida (estrés, ansiedad, mal humor, auto-estima, relaciones, independencia)</p></li>
				</ul>
			</div>
		</section>
		<section id="servicios" class="serviciosDisponibles">
			<div class="wrapper">
				<h2>Servicios Disponibles</h2>
				<div class="servicios">
					<div class="primero">
						<img src="{% static 'img/primero.png' %}" alt="numero primer servicio" class="numero">
						<h3>Una Consulta Personalizada</h3>
						<p>Si usted es de los que le dan una lista y sabe seguirla paso a paso SIN una asesora de diario, pues esto es lo que necesita.</p>
						<div class="separadorServicio">Incluye</div>
						<p>
							<ul>
								<li>1 Consulta por Skype de 50 minutos</li>
								<li>Estudio y explicación de su Historial de Salud (La Clave)</li>
								<li>Recomendaciones y Tips para llegar a el objetivo deseado</li>
								<li>Lista de alimentos ideales para su estilo de vida y cuerpo</li>
							</ul>
						</p>
						<div class="separadorServicio">U.S.A.</div>
						<p>Costo: $149.99</p>
						<p>Metodo de pago: PayPal</p>
						<!-- BOTON PAYPAL AQUÍ-->
						{{form_consulta.sandbox}}
						<!-- BOTON PAYPAL AQUÍ-->
					</div>
					<div class="segundo">
						<img src="{% static 'img/segundo.png' %}" alt="numero primer servicio" class="numero">
						<h3>Asesoria Completa Personalizada</h3>
						<p>¡Estoy aquí a cada paso de la manera de entrenar, guíar, motivar, y llegar a lograr su meta!</p>
						<p>Duración: 1 Mes</p>
						<div class="separadorServicio">Incluye</div>
						<p>
							<ul>
								<li>Consulta por Skype de 45 minutos cada 2 semanas</li>
								<li>Estudio y explicación de su Historial de Salud (La Clave)</li>
								<li>Recomendaciones y Tips para llegar a el objetivo deseado</li>
								<li>Lista de alimentos ideales para su estilo de vida y cuerpo</li>
								<li>Disponibilidad por medio de e-mail diariamente</li>
								<li>Lograras tu meta bajo mi supervisión</li>
								<li>¡Mucha Salud!</li>
							</ul>
						</p>
						<div class="separadorServicio">U.S.A.</div>
						<p>Costo: $249.99 por mes</p>
						<p>Metodo de pago: PayPal</p>
						<!-- BOTON PAYPAL AQUÍ-->
						{{form_asesoria.sandbox}}
						<!-- BOTON PAYPAL AQUÍ-->
					</div>
				</div>
				<div class="instrucciones">
					<h4>Instrucciones</h4>
					<div>Pasos:</div>
					<ul class="listaInstrucciones">
						<li>
							<div class="bigNumber">1</div><span>Pagar Consulta</span><img src="{% static 'img/dinero.png' %}" alt="icono dinero">
						</li>
						<li>
							<div class="bigNumber">2</div><span>Llenar y Enviar Historial de Salud</span><img src="{% static 'img/papelito.png' %}" alt="icono historial medico">
						</li>
						<li>
							<div class="bigNumber">3</div><span>Reciba las fechas disponibles para su consulta</span><img src="{% static 'img/listo.png' %}" alt="icono aprobado">
						</li>
					</ul>
				</div>
			</div>
		</section>
</section>

	<!-- BACK TOP BOX -->
	<div id="back-top" class="back-top">
		<a href="#home"><span>↑</span>Regresar arriba</a>
	</div>
{% endblock%}