{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Servicios de la vida organica
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage/servicios.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
{% endblock %}
{% block navi %}
	<div class="logomenu">
		<div class="circulo"><img src="{% static 'img/logoinicio.png' %}" alt="Logo de La vida organic"></div>
	</div>
{% endblock %}
{% block contenido %}
<section class="quienessomos">
	<div class="wrapper">
		<div class="tituloStyle"><h2>libre</h2></div>
	</div>
</section>
{% endblock%}