{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Sobre giselle - La vida organica
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage/quienesomos.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}
{% block navi %}
	<div class="logomenu">
		<div class="circulo"><img src="{% static 'img/logoinicio.png' %}" alt="Logo de La vida organic"></div>
	</div>
{% endblock %}
{% block contenido %}
<section class="quienessomos">
	<div class="wrapper">
		<h1>Sobre Giselle</h1>
		<div class="izquierda">
			<p>Giselle Orentas es la creadora de La Vida Orgánica, que significa un estilo de vida en balance. Tanto en la alimentación como en el estilo de vida. Descubrió su pasión holística al realizar un programa de comida crudi-vegana por 6 meses y luego de sentir que su cuerpo le pedía más que alimentos crudos, se certificó para ser Chef de Alimentos Vivos. Se complementaba con un poco de medicina China y ayurvedica aprendiendo la importancia de una correcta combinación de alimentos, una buena digestión y desintoxicación. </p>
			<p>Al darse cuenta que muchas personas a su alrededor y de otras latitudes querían aprender más de sus conocimientos y estudios, se registró en el programa de Health Coaching del IIN en New York City.</p>
			<p>Hoy en día ofrece servicios de asesoramiento globalmente donde ayuda a mujeres a sentirse bellas de adentro hacia afuera.</p>
		</div>
		<div class="derecha">
			<p>La experiencia con sus pacientes y la suya propia la ha hecho experta en áreas como: </p> 
			<ul class="areas">
				<li><span>Belleza natural</span></li>
				<li><span>Pérdida de peso</span></li>
				<li><span>Aumento de peso</span></li>
				<li><span>Tonificación</span></li>
				<li><span>Belleza</span></li>
				<li><span>Acné</span></li>
				<li><span>Mala digestión</span></li>
				<li><span>Equilibrio hormonal</span></li>
				<li><span>Incremento de metabolismo</span></li>
				<li><span>Pre-durante-post embarazo.</span></li>
			</ul>
			<a href="#">Conocer Más</a>
		</div>
		<div class="greenbox">“Para mí lo más importante es que mis pacientes entiendan la importancia de una alimentación y una desintoxicación. No es una dieta, es un estilo de vida que será para siempre.”</div>
		</div>

	</div>
</section>
{% endblock%}