{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
<!--[if lt IE 8]><script type="text/javascript" src="{{ STATIC_URL }}js/adquiridos/ie6-not-supported.js" ></script><![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta name="keywords" content="Diseño Web,Software,Gráfico,Páginas web,Venezuela,Maracaibo,Presupuesto,Planes, sitio web">
<meta name="author" content="José Ordoñez, Diana Chavez y Elibeth Quiñones">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
{% block head %} {% endblock%}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
<link href='http://fonts.googleapis.com/css?family=Coda+Caption:800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=IM+Fell+Double+Pica:400,400italic' rel='stylesheet' type='text/css'>
<title>{% block title %} {% endblock%}</title>
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}
</head>
<body>
	<!-- Analytics SCRIPT GOOGLE! -->
	<!--<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  //Se debe cambiar esto cuando se haga X página.
	  ga('create', 'UA-*********-1', '*******.com');
	  ga('send', 'pageview');
	</script> -->
	<header id="home" class="cabecera">				
			<div class="headerPosition">
				<div class="wrapper">
					<nav class="barraNavegacion">
						{% block navi %} {% endblock%}
						<a href="{% url 'homepageindex' %}">Inicio</a>
						<a href="{% url 'homepageabout' %}">Sobre Giselle</a>
						<a href="{% url 'homepageservices' %}">Servicios</a>
						<a href="/blog">Blog</a>
						<a href="{% url 'homapagecontact' %}">Contacto</a>	
					</nav>
				</div>
			</div>
	</header>
	<section class="contenido">
		{% block contenido %} {% endblock%}
	</section>
	{% block clear %} {% endblock %}
	<footer>
		{% block footer %}
			<div class="redesFooter">
				<div class="wrapper">
					<ul class="redes">
					<li class="circuloFooter"><a href="https://www.facebook.com/lavidaorganic" class="iconFooter circulo facebookIconFooter"></a></li>
					<li class="circuloFooter"><a href="https://www.twitter.com/lavidaorganica" class="iconFooter circulo twitterIconFooter"></a></li>
					<li class="circuloFooter"><a href="http://instagram.com/lavidaorganica" class="iconFooter circulo instagramIconFooter"></a></li>
					<li class="circuloFooter"><a href="http://www.youtube.com/lavidaorganica" class="iconFooter circulo youtubeIconFooter"></a></li>
					</ul>
				</div>
			</div>
			<div class="wrapper">
				<div class="footer-der">
					<div class="logo">
						<img src="{% static 'img/logoinicio.png' %}" alt="Logo de la vida organica">
					</div>
				</div>
				<div class="footer-med">
					<ul class="listaMenuFooter">
						<li><a href="{% url 'homepageindex' %}">Inicio</a>
						<li><a href="{% url 'homepageabout' %}">Sobre Giselle</a>
						<li><a href="{% url 'homepageservices' %}">Servicios</a>
						<li><a href="/blog">Blog</a>
						<li><a href="{% url 'tallerestalleres' %}">talleres</a>
						<li><a href="{% url 'homapagecontact' %}">Contacto</a>						
					</ul>
					<div class="footer-contact">
						<div class="contactNumber">
							<!-- SKYPE icon-->
							<a class="flagSkype" href="skype:lavidaorganica?call">
								<img src="http://cdn.dev.skype.com/uri/callbutton_32px.png" alt="Skype image call"> lavidaorganica
							</a>
						</div>
					</div>
				</div>						  
			</div>
			<div class="copyRight">La vida organica © Copyright  2014, Todos los derechos reservados. Developed by: <a href="http://duranjo.com/"><img src="http://duranjo.com/static/img/duranjowhite.png" alt="logo empresa duranjo"></a>
			</div>
			 
		{% endblock%}
	</footer>
</body>
</html>