@charset 'utf-8';

h3{
	margin: 0;
}
header{
	padding-top: 1px;
	padding-bottom: 1px;
	background:url(../../img/fondoinicio.jpg) no-repeat center left;
}
.headerPosition{
	margin-top: 90px;
	margin-bottom: 90px;
	background: #C8D075;
	background: rgba(200, 208, 117, 0.7);
	padding: 5px;
	text-align: right;
}
nav{
	position: relative;
}
nav a{
	display: inline-block;
	width: 16%;
	color: #FFF;
	font-size: 1.4em;
	text-transform: uppercase;
	text-shadow: 2px 1px 1px #000;
	text-decoration: none;
	text-align: center;
}
.logomenu{
	position: absolute;
	top: -90px;
	left: 10px;
}
.logomenu img{
	width: 200px;
}
/********SECCION CONTACTO********/
.fondoContacto{
	background: url(../../img/patron.jpg);
	position: relative;
	height: 940px;
}
.campo label {
float: left;
width: 350px;
margin-bottom: 3px;
}

.campo input {
	text-indent: 5px;
	height: 33px;
	width: 100%;
	border: none;
	border-radius: 15px;
}
textarea{
	text-indent: 5px;
	width: 100%;
	border: none;
	border-radius: 15px;
}
.botonEnviar input[type=submit]{
	margin-left: 40%;
	margin-top: 1%;
}
.formCircle{
	color: #FFF;
	width: 345px;
	height: 440px;
	margin: 0;
	position: relative;
	left: 390px;
	background: url(../../img/contactCircle.png) top left no-repeat;
	line-height: 24px;
	padding: 75px 110px;
	z-index: 15;
}

.infoContacto{
	padding: 49px;
	background: url(../../img/infoContactCircle.png) center no-repeat;
	width: 335px;
	height: 335px;
	position: relative;
	top: -196px;
	left: 155px;
	z-index: 10;
}

.infoContacto .wrapperInfo{
	padding: 55px;
	line-height: 2em;
	color: #FFF;
	font-size: 1.1em;
}

.contactSkype{
	display: inline-block;
	font-size: 2em;
	position: absolute;
	top: 510px;
	z-index: 11;
}
.contactSkype a{
	text-decoration: none;
	color: #C8D075;
}

.mujer{
	position: absolute;
	top: 150px;
}
.mujer img{
	width: 400px;
}

@media screen and (max-width: 1000px){
	.headerPosition{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	nav{
		position: static;
		text-align: center;
	}
	nav a{
		width: 19%;
	}
	.logomenu{
		position: static;
		text-align: center;
	}
	/* CONTACTO */
	.fondoContacto{
		height: auto;
		text-align: center;
	}
	.mujer{
		display: none;
	}
	.formCircle, .infoContacto, .contactSkype{
		position: static;
		margin: 0 auto;
	}
	.infoContacto{
		padding: 0 49px;
	}
}
@media screen and (max-width: 580px) {
	h2{
		font-size: 3.5em;
	}
	nav a{
		width: 100%;
	}
	/*contacto*/
	.formCircle{
		background: #C8D075;
		width: auto;
		height: auto;
		padding: 20px;
	}
	.campo label{
		width: auto;
	}
	.infoContacto{
		background: #C8D075;
		width: auto;
		height: auto;
		padding: 0;
	}
	.infoContacto .wrapperInfo {
		padding: 16px;
	}
}