@charset 'utf-8';
h2{
	margin: 0;
}
header{
	margin-top: 50px;
	background: #C8D075;
	background: rgba(200, 208, 117, 0.7);
	padding: 5px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
nav a{
	display: inline-block;
	width: 16%;
	color: #FFF;
	font-size: 1.5em;
	text-shadow: 2px 1px 1px #000;
	margin-right: 30px;
	text-decoration: none;
}

.circulo{
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
	display: inline-block;
}
.logomenu{
	display: inline-block;
	position: relative;
	top: 166px;
}
.logomenu img{
	width: 550px;
}
.eslogan{
	text-align: center;
	width: 150px;
	font-size: 1.3em;
	width: 220px;
	height: 220px;
	position: relative;
	right: -750px;
	top: -300px;
}



.bannerPrincipal{
	background: url(../../img/fondoinicio.jpg) no-repeat center center;
	height: calc(100%);
	height: -moz-calc(100%);
	height: -webkit-calc(100%);
	min-height: 475px;
}
.suscripcion{
	background: #C8D075;
	background: rgba(200, 208, 117, 0.7);
	display: block;
	width: 250px;
	height: 100px;
	border: 2px solid #FFF;
	border-radius: 5px;
}
.redesInicio{
	text-align: right;
}
.redesInicio ul li{
	display: inline-block;
}

/* BLOG ULTIMAS NOTICIAS */
.ultimasEntradas{
	background: url(../../img/patron.jpg);
}
.ultimasEntradas  ul{
	padding: 0px;
}
.ultimasEntradas  ul li {
	display: inline-block;
	width: 48%;
}
.ultimasEntradas  ul li img{
	display: inline-block;
}
.ultimasEntradas  ul li .derecha{
	display: inline-block;
	width: 46%;
	vertical-align: top;
	background-color: #C8D075;
	height: 200px;
	margin-left: -4px;
	color: #FFF;
	overflow: hidden;
}
.tituloNoticia{
	display: table-cell;
	text-align: center;
	font-size: 1.4em;
	height: 47px;
	overflow: hidden;
	vertical-align: middle;
}
.ultimasEntradas  ul li a{
	display: block;
	width: 55%;
	padding: 7px;
	text-align: center;
	background-color: #FFF;
	text-decoration: none;
	color: #C8D075;
	margin: 0px auto;
}
.ultimasEntradas  ul li .resumen{
	height: 96px;
	text-align: justify;
	width: 90%;
	margin: 0 auto;
	}