@charset 'utf-8';

header{
	padding-top: 1px;
	padding-bottom: 1px;
	background:url(../../img/fondoinicio.jpg) no-repeat center left;
}
.headerPosition{
	margin-top: 90px;
	margin-bottom: 90px;
	background: #C8D075;
	background: rgba(200, 208, 117, 0.7);
	padding: 5px;
	text-align: right;
}
nav{
	position: relative;
}
nav a{
	display: inline-block;
	width: 16%;
	color: #FFF;
	font-size: 1.4em;
	text-transform: uppercase;
	text-shadow: 2px 1px 1px #000;
	text-decoration: none;
	text-align: center;
}
.logomenu{
	position: absolute;
	top: -90px;
	left: 10px;
}
.logomenu img{
	width: 200px;
}
.derecha, .izquierda{
	display: inline-block;
	width: 46.5%;
	text-align: justify;
	vertical-align: top;
	padding: 14px;
}
.areas li{
	color: #C8D075;
}
.areas li span{
	font-size: 16px;
	color: #000;
}
.derecha a{
	display: block;
	text-decoration: none;
	color: #FFF;
	padding: 10PX;
	background-color: #C8D075;
	width: 60%;
	text-align: center;
	margin: 0 auto;
}
.greenbox{
	display: block;
	color: #FFF;
	padding: 10PX;
	background-color: #C8D075;
	width: 95%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 40px;
}
.quienessomos{
	background: url(../../img/patron.jpg);
}
@media screen and (max-width: 1200px){
	.derecha, .izquierda{
		width: 90%;
	}
}