@charset 'utf-8';
h1{
	padding: 50px 0;
	margin: 0;
	font-size: 7em;
	color: #C8D075;
}
h2{
	margin: 0;
	color: white;
	font-size: 3em;
	text-align: center;
	padding: 55px 0;
}
h3{
	color: #C8D075;
	text-align: center;
	font-size: 1.8em;
}
h4{
	margin: 0;
	text-align: center;
	font-size: 2em;
	color: white;
	margin-top: 1em;
}
header{
	padding-top: 1px;
	padding-bottom: 1px;
	background:url(../../img/fondoinicio.jpg) no-repeat center left;
}
.headerPosition{
	margin-top: 90px;
	margin-bottom: 90px;
	background: #C8D075;
	background: rgba(200, 208, 117, 0.7);
	padding: 5px;
	text-align: right;
}
nav{
	position: relative;
}
nav a{
	display: inline-block;
	width: 16%;
	color: #FFF;
	font-size: 1.5em;
	text-shadow: 2px 1px 1px #000;
	text-decoration: none;
	text-align: center;
}
.logomenu{
	position: absolute;
	top: -90px;
	left: 10px;
}
.logomenu img{
	width: 200px;
}
.quienessomos{
	background: url(../../img/patron.jpg);
}
/* INTRODUCCION SERVICIOS */
.descripcion .wrapper{
	position: relative;
}
.introduccion{
	text-align: justify;
}
.introduccion p{
	background: #FFF;
	padding: 12px;
	color: #C8D075;
}
.verServicios{
	display: block;
	font-size: 1.2em;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	color: #FFF;
	background: #C8D075;
	margin-bottom: 50px;
}
.titulo{
	float: left;
	color: #C8D075;
	font-size: 3em;
	text-align: center;
	width: 560px;
}
.circuloVerde{
	float: left;
	color: white;
	width: 560px;
	height: 561px;
	background: url(../../img/contactCircle.png) no-repeat top left;
	text-align: center;
	line-height: 1.4em;
}
.textWrap{
	position: relative;
	top: 75px;
	width: 390px;
	margin-left: auto;
	margin-right: auto;
}
.circuloVerde .bold{
	font-weight: bold;
}
.rightpos{
	float: right;
}
.clear{
	clear: both;
}
.imagecircle{
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
}
.img1pos{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 475px;
	right: 0;
}
.img2pos{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 1150px;
	left: 0;
}
.img3pos{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 1800px;
	right: 0;
}
/* AREAS DE COACHING */
.centrartextoverticalp{
	margin-top: 88px;
}
.centrartextoverticallargo{
	margin-top: 68px;
}
.areascoaching h2{
	color: #C8D075;
}
.areascoaching ul{
	list-style: none;
	padding:0;
	text-align: center;
}
.areascoaching ul li{
	position: relative;
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	padding: 7px;
	background-color: #C8D075;
	z-index: 6;
}
.center{
	text-align: center;
}
.areascoaching ul li:before {
	position: absolute;
	content: "";
	display: block;
	background-color: #FFF;
	width: 194px;
	height: 194px;
	border-radius: 50%;
	z-index: -1;
}
/* SERVICIOS DISPONIBLES */
.serviciosDisponibles{
	background: #C1CA61;
}
.primero, .segundo{
	background: url(../../img/greyzz_@2X.png);
	width: 45%;
	display: inline-block;
	vertical-align: top;
	margin-left: 1%;
	padding: 16px;
	border-radius: 5px;
	text-align: center;
	position: relative;
}
.primero .numero, .segundo .numero{
	position: absolute;
	top: -56px;
	left: 10px;
}
.primero li, .segundo li{
	text-align: left;
}
.primero a{
	background: #C8D075;
	text-decoration: none;
	color: white;
	padding: 5px;
}
.separadorServicio{
	display: block;
	margin: 0 auto;
	width: 90%;
	border-bottom: 2px solid;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
.instrucciones{
	color: white;
	font-weight: bold;
}
.instrucciones > div{
	font-size: 2em;
}
.listaInstrucciones li{
	display: inline-block;
	width: 30%;
	margin-left: 20px;
}
.listaInstrucciones li span{
	display: inline-block;
	vertical-align: top;
	width: 51%;
}
.bigNumber{
	display: inline-block;
	font-size: 6em;
	line-height: 0.5em;
	vertical-align: top;
}

@media screen and (max-width: 1000px){
	.headerPosition{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	nav{
		position: static;
		text-align: center;
	}
	nav a{
		width: 19%;
	}
	.logomenu{
		position: static;
		text-align: center;
	}
	/*Servicios intro*/
	.imagecircle{
		display: none;
	}
	.servicios{
		text-align: center;
	}
	.primero, .segundo{
		width: 80%;
		margin-bottom: 75px;
	}
	.listaInstrucciones li{
		width: auto;
		margin-left: 0;
	}
	.listaInstrucciones li span {
		width: auto;
	}
	
}
/* Por los circulos es un poco más grande esto*/
@media screen and (max-width: 575px) {
	h1{
		font-size: 3.5em;
	}
	nav a{
		width: 100%;
	}
	.titulo{
		width: 100%;
		font-size: 2.5em;
		margin-top: 30px;
	}
	.textWrap {
		position: static;
		width: 100%;
	}
	.circuloVerde{
		background: #C8D075;
		width: 100%;
		height: auto;
	}
	.listaInstrucciones li{
		margin-bottom: 30px;
	}
	.listaInstrucciones li span {
		width: 65%;
	}
	.listaInstrucciones li img{
		display: none;
	}
}