@charset 'utf-8';
h2{
	margin: 0;
	font-size: 6em;
	color: #C8D075;
}
h3{
	margin: 0;
}
header{
	padding-top: 1px;
	padding-bottom: 1px;
	background:url(../../img/fondoinicio.jpg) no-repeat center left;
}
.headerPosition{
	margin-top: 90px;
	margin-bottom: 90px;
	background: #C8D075;
	background: rgba(200, 208, 117, 0.7);
	padding: 5px;
	text-align: right;
}
nav{
	position: relative;
}
nav a{
	display: inline-block;
	width: 16%;
	color: #FFF;
	font-size: 1.4em;
	text-transform: uppercase;
	text-shadow: 2px 1px 1px #000;
	text-decoration: none;
	text-align: center;
}
.logomenu{
	position: absolute;
	top: -90px;
	left: -35px
}
.logomenu img{
	width: 200px;
}

.talleres{
	background: url(../../img/patron.jpg);
	}
.talleres ul{
	text-decoration: none;
	padding: 0;
}
.talleres ul li{
	box-shadow: 1px 1px 1px 2px #D1D9D2;
	-webkit-box-shadow: 1px 1px 1px 2px #D1D9D2;
	-moz-box-shadow: 1px 1px 1px 2px #D1D9D2;
	display: inline-block;
	width: 100%;
	margin-left: 2%;
	vertical-align: top;
	height: 236px;
	margin-bottom: 38px;
}
.talleres ul .taller{
	background-color: #FFF;
}
.talleres ul .webinar{
	background-color: #C8D075;
}
.talleres .fecha{
	display: inline-block;
	width: 24%;
	height: 101px;
	vertical-align: top;
	border-radius: 0% 0% 69% 0%;
}
.talleres .fecha .mes{
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
}
.talleres .fecha .dia{	
	text-align: center;
	font-weight: bold;
	font-size: 3.7em;
	margin-left: -11px;
	margin-top: -8px;
}
.webinar .fecha, .webinar .botontaller{
	background-color: #FFF;
	color: #C8D075;	
}
.taller .fecha, .taller .botontaller{
	background-color: #C8D075;
	color: #FFF;
}
.talleres a{
	text-decoration: none;
}

.talleres .titulos{
	display: inline-block;
	width: 66%;
	margin-bottom: 2px;
	height: 105px;
	overflow: hidden;
}
.webinar .titulos{
	color: #FFF;
}
.taller .titulos{
	color: #C8D075;
}
.talleres .titulos .tipo{
	text-align: right;
	font-size: 2.6em;
	font-weight: bold;
	text-decoration: none;
}
.talleres .titulos .titulo{ 
	font-weight: bold;
	overflow: hidden;
	text-align: right;
	font-size: 1.5em;
	margin-top: -10px;
	}
.talleres .descripcioncorta{
	text-align: justify;
	color: #000;
	height: 47px;
	margin-top: 4px;
	padding: 0px 92px;
	overflow: hidden;
	margin-bottom: 5px;

}
.webinar .descripcioncorta{
	height: 71px;
}
.lugar{
	padding: 0 20px;
	text-align: center;
	color: #000;
	height: 19px;
	overflow: hidden;

}
.horataller{
	text-align: right;
}
.botontaller{
	display: block;
	width: 55%;
	padding: 7px;
	text-align: center;
	text-decoration: none;
	margin: 0px auto;
	margin-top: 5px;
}