@charset 'utf-8';
html, body{
	margin: 0;
	height: 100%;
	background: white;
	color: black;	
}

h1{
	margin: 0;
	color: white;
	font-family: 'Lobster', Helvetica, Arial;
	line-height: 38px;
	margin-top: 65px;
}
.wrapper{
	width: 960px;
	height: 100%;
	margin: 0 auto 0 auto;
}
.circulo{
	-webkit-border-radius: 400px;
	-moz-border-radius: 400px;
	border-radius: 400px;
	display: inline-block;
	background: #C8D075;
}

/* FOOTER */
footer{
	color: #FFF;
	background: #C8D075;
	text-align: center;
}
.circuloFooter{
	-webkit-border-radius: 400px;
	-moz-border-radius: 400px;
	border-radius: 400px;
	display: inline-block;
	background: #C8D075;
}
.redesFooter{
	background: url(../img/greyzz_@2X.png);
	border-top: 5px solid #C8D075;
}
.redesFooter ul{
	padding: 0;
}
.iconFooter{
	width: 150px;
	height: 150px;
}
.facebookIconFooter, .twitterIconFooter, .instagramIconFooter, .youtubeIconFooter{
	background: url(../img/redesiconos.png) no-repeat;
}
.facebookIconFooter{
	background-position: 45px 16px;
}
.twitterIconFooter{
	background-position: -347px 16px;
}
.instagramIconFooter{
	background-position: -220px 16px;
}
.youtubeIconFooter{
	background-position: -80px 16px;
}

.logo img{
	width: 200px;
}
.footer-der, .footer-med, .footer-izq{
	display: inline-block;
	vertical-align: top;
}
.footer-der, .footer-izq{
	width: 20%;
}
.footer-med{
	width: 70%;
}
.footer-izq{
	margin-top: 20px;
	vertical-align: bottom;
}
.listaMenuFooter{
	padding: 0;
	text-align: center;
}
.listaMenuFooter li{
	display: inline-block;
}
.listaMenuFooter a{
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	margin-right: 25px;
}
.contactNumber{
	display: inline-block;
	font-size: 2em;
}
.contactNumber a{
	text-decoration: none;
	color: white;
}
.flagUsa{
	display: inline-block;
	background: url(../img/usaicon.png) no-repeat 0 -7px;
	width: 45px;
	height: 33px;
	vertical-align: top;
	-webkit-border-radius: 400px;
	-moz-border-radius: 400px;
	border-radius: 400px;
}
.flagSkype img{
	vertical-align: bottom;
}

footer .copyRight img{
	width: 60px;
	vertical-align: middle;
}

/* Configuración back to top button */

.back-top {
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 100;
}

.back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: white;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top a:hover {
	color: white;
}

	/* arrow icon (span tag) */
.back-top span {
	width: 70px;
	height: 70px;
	display: block;
	margin: 0 auto 7px auto;
	font-size: 0;
	background: #16a085 url(../img/up-arrow.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top a:hover span {
	background-color: #777;
}


@media screen and (max-width: 1000px){
	.wrapper{
		width: 100%;
	}

	/* configuración back-to-top responsive */
	.back-top a{
		width: 60px;
		text-shadow: 0 0 1px black;
	}
	.back-top span {
		width: 40px;
		height: 40px;
		font-weight: bold;
		font-size: 4em;
		line-height: 30px;
		background: none;
		margin: 0 auto 0 auto;
	}
	.back-top a:hover span {
		background:none;
	}
	/* END CONFIG back-to-top */
	.footer-der{
		width: 100%;
	}
	.footer-med{
		width: 100%;
	}
}
@media screen and (max-width: 460px) {

}